# Task 3

First, update the following cell to have a link to your Homework 1 GitHub repository:


**Caitlin's homework link: https://github.com/cnordheim-maestas/eds220-hwk-1.git**


In this task, make at least 5 commits at moments you think are adequate. We'll look at your repo to check commit history.

Add comments for all your code. Err on the side of commenting too much for now. 

Comments in each exercise and commits will count towards your grade.

This task covers topics we will see on Monday Oct. 9. The best strategy to solve it is to get together with your classmates and work on it together after Monday's lecture.


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

Description: Data on coral reefs with the purpose to to assess coral bleaching in 1998-2022 in the Western Indian ocean. This includes reef locations, number of taxa of corals, water quality, climate change, and human resource management data. 

Citation: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

Date of access: 10/12/23

Link: https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H

## 2
In the next code cell, import the pandas package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [20]:
# import pandas package as "pd"
import pandas as pd

# read in data
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')
coral_div.head()

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.10547,0.690454,0.11400,0.008503,32.38792,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

a. how many rows and columns does it have?

(575 rows, 42 columns)

b. what are the column names?

'PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion',
       'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover',
       'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ',
       'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients',
       'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis',
       'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean',
       'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality',
       'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree',
       'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates'],
      dtype='object'

c. what are the data types of the columns?

See below

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (see discussion section)

See below

e. some inital info you are interested in. 

See below

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

In [21]:
# a
# num rows and columns
coral_div.shape

# 575 rows, 42 columns

(575, 42)

In [22]:
# b
# column names
print(coral_div.columns)

# names of all columns in dataframe

Index(['PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion',
       'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover',
       'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ',
       'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients',
       'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis',
       'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean',
       'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality',
       'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree',
       'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates'],
      dtype='object')

In [23]:
# c
# num null values and dtype of columns
coral_div.info()

# different datatypes for different columns, some floats, some objects, some integers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PU_ID                575 non-null    int64
 1   PU_Lat               575 non-null    float64
 2   PU_Lon               575 non-null    float64
 3   Number_of_genera     575 non-null    int64
 4   Country              575 non-null    object
 5   Ecoregion            575 non-null    object
 6   Management           575 non-null    object
 7   Habitat              530 non-null    object
 8   Observer             575 non-null    object
 9   Depth                575 non-null    float64
 10  Coralcover           575 non-null    int64
 11  SSTRateofRise        575 non-null    float64
 12  PARmax               575 non-null    float64
 13  Calcite              575 non-null    float64
 14  Dis_oxygen           575 non-null    float64
 15  mean.waveNRJ         575 non-null    float64
 16  Salinity_mean        575 non-null    float64
 17  andrello_reef_value  575 non-null    int64
 18  andrello_nutrients   575 non-null    float64
 19  mean.npp             575 non-null    float64
 20  TT_market_hrs        575 non-null    float64
 21  TT_pop_hrs           575 non-null    float64
 22  cumDHW               575 non-null    float64
 23  SST_Kurtosis         575 non-null    float64
 24  SST_Median           575 non-null    float64
 25  ChlorA_median        575 non-null    float64
 26  andrello_sediments   575 non-null    float64
 27  Current_vel_mean     567 non-null    float64
 28  Diff_attenuation     575 non-null    float64
 29  Grav_NP              575 non-null    float64
 30  Grav_NC              575 non-null    float64
 31  PH                   575 non-null    float64
 32  SST_bimodality       575 non-null    float64
 33  SST_Skewness         575 non-null    float64
 34  ClimateStressModel   575 non-null    float64
 35  Netflow              575 non-null    float64
 36  Indegree             575 non-null    float64
 37  Outdegree            575 non-null    float64
 38  Retention            575 non-null    float64
 39  min_yr               575 non-null    int64
 40  max_yr               575 non-null    int64
 41  no_replicates        575 non-null    int64
dtypes: float64(30), int64(7), object(5)
memory usage: 188.8+ KB

In [24]:
# d
# update option to show all columns
pd.set_option("display.max.columns", None)

# display first 8 rows using head function specifying 8 rows
coral_div.head(8)

# lots of data woohoo!

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,41,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.592692,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,49,0.021358,54.935499,0.001744,4.7540,2.857747,35.106329,0,2.645199,1150.677856,1.783333,0.333333,30.265219,-0.795494,27.525,0.656533,3224.024414,0.561659,0.10500,0.512126,19.634828,8.2185,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

In [25]:
# e

# I am interested in the habitat type and ClimateStressModel ("multivariate index of coral reef exposure to climatic stress" according to metadata); does climate stress differ based on habitat?

# select columns of just the Habitat and ClimateStressModel for now
ht_do = coral_div[ ['Habitat', 'ClimateStressModel'] ]

#check shape of selection
print(ht_do.shape)

# see our selection
ht_do.head()

# let's describe my data; summary stats on climate stress of all observations
ht_do.describe()

(575, 2)

       ClimateStressModel
count          575.000000
mean             0.549405
std              0.151452
min              0.081800
25%              0.470100
50%              0.579325
75%              0.656300
max              0.813600

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

*Integers are whole numbers (no decimals), and floats can also contain decimals*

## 5

The `Country` column indicates the country of reef location. Explain in your words what is the ouput of `coral_div.Country` and `coral_div.Country.unique()`.

*coral_div.Country (syntax: df.Column_name) shows a preview of the column you are calling, here all of the coountry names, and at the end has a small summary of the length and datatype.*

*coral_div.Country.unique() (syntax: df.Column_name.unique()) is applying the unique function to the column of Country in the dataframe coral_div, and will tell us the unique values in the column, and the datatype at the end. Here, it will list every country in this column*

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: use the `len` Python function. Not sure what `len` does? Use `?`.

**ANSWER: 16**

In [31]:
# Observer column says who made the observation
# Let's get the length of the unique values (how many different observers there were)
# Syntax: len(df.column.unique()) is getting the length of the thing in parentheses

len(coral_div.Observer.unique())

# 16 different observers

16

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6km reef cell surveyed. What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

*It is selecting all rows where the value is greater than or equal to 50 in the column of coral cover. In science words, it is selecting all observations where the coral cover is above or at 50%*

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania.

**ANSWER: YES**

In [114]:
# Step 1: Select only observations from Tanzania first and call is "tanz"
tanz=coral_div.loc[ coral_div.Country=="Tanzania" ]
# see code chunk below for confirmation this worked

# Step 2: Select only the coral cover above 30% from the Tanzania-only dataframe
tanz[tanz['Coralcover'] > 30].head()

# ANSWER: yes there were sites where this occurred!

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.10547,0.690454,0.11400,0.008503,32.38792,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3

In [119]:
# I can't figure out how to do this all at once, though...

#coral_div.loc[ ["Coralcover"] > 30, coral_div["Country"] == "Tanzania", ].head()

In [112]:
# Let's double check we got the right number of rows in my subset, how many rows are Tanzania?
print(coral_div.Country.value_counts()) 

# double check my subset dataframe, should have 115 rows
len(tanz) #woohoo!

Madagascar                     159
Tanzania                       115
Kenya                           94
Mozambique                      88
Mauritius                       60
Mayotte                         19
Reunion                         13
South Africa                    12
Comoros                          7
Seychelles                       7
French Southern Territories      1
Name: Country, dtype: int64

115

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (PSS) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Select this data.

In [69]:
# Select these 3 columns, and look at the top 5 rows
coral_div[ ['PH', 'Salinity_mean', 'Depth'] ].head()

       PH  Salinity_mean  Depth
0  8.2175      35.167646   11.0
1  8.2175      35.167646    2.0
2  8.2175      35.167646    4.0
3  8.2175      35.167646    3.0
4  8.2180      35.102688    1.5

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017.

In [91]:
# Step 1: make df with just the desired max year
end_2017 = coral_div[coral_div["max_yr"] == 2017]

# Step 2: select only the columns of interest from the dataframe with just the max year we want,
# and show the first 5 rows
end_2017[ ['PH', 'Salinity_mean', 'Depth'] ].head()

        PH  Salinity_mean  Depth
67  8.2150      35.100085   16.0
68  8.2145      35.144927   10.0
70  8.2150      35.101086   11.0
71  8.2150      35.101086   11.0
72  8.2150      35.101086    9.0

In [102]:
# Let's do it on one step!
# and show the first 5 rows
coral_div.loc[ coral_div["max_yr"] == 2017, ['PH', 'Salinity_mean', 'Depth'] ].head()

        PH  Salinity_mean  Depth
67  8.2150      35.100085   16.0
68  8.2145      35.144927   10.0
70  8.2150      35.101086   11.0
71  8.2150      35.101086   11.0
72  8.2150      35.101086    9.0

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Are you indexing from 0?

In [126]:
# Syntax: df.loc[row-selection , column-selection]

# select rows 95 through 100 (including 100); note: exclusive, had to do 101 to include 100!
# select rows 95 through 100 
subset = coral_div.iloc[95:101, [16, 19, 27] ] 
subset

     Salinity_mean     mean.npp  Current_vel_mean
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

*Update this markdown cell with your answer.*

## 13
Run `subset.isna().any()`. Explain what this code does and what the output represents. HINT: It could be helpful to check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

*Update this markdown cell with your answer.*

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. HINT: you can use your answer for 9.

In [19]:
# solve exercise here